

* {box-sizing:border-box}
body{
  background-color: #8ABD91;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color:black;
  text-decoration: none;
  font-size: 20px;
}

/* Slideshow container */
.slideshow-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

img{
  width: 45vw;
  height: 30vh;
  margin-left: 10%;
  margin-right: 10%;

}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.info-short {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-evenly;
  text-align: center;
  padding-bottom: 50px;
}
.info-short img {
  width: auto;
  height: auto;

  max-height: 96px;
  max-width: 160px;
}

.info-short .option {
  border-radius: 10px;
  margin: 10px;
  padding: 20px 10px;
  box-sizing: border-box;
  background: seagreen;
}


.info-short ul li {
  list-style: none;
  display: inline-block;
  padding: 4px 8px;
  position: relative;
  max-width: 400px;
  min-width: 400px;

}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}